html,
body,
app-root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Mona Sans", sans-serif;
  background-color: #f5f5f5;

  overflow-x: hidden;
}
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-snack-bar-container.error-snackbar .mdc-snackbar__surface {
  background-color: #f44336 !important;
  color: white !important;
}
.mat-mdc-snack-bar-container.error-snackbar
  .mat-mdc-snack-bar-actions
  .mdc-button__label,
.mat-mdc-snack-bar-container.error-snackbar .mat-mdc-button {
  color: white !important;
}
